.list-filter {
  max-height: 300px;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

.price-text {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: #ef8744;
}

.ant-slider-track {
  background-color: #ef8744 !important;
}

.ant-slider-handle-1::after {
  box-shadow: 0 0 0 2px #ef8744 !important;
}

.ant-slider-handle-2::after {
  box-shadow: 0 0 0 2px #ef8744 !important;
}

.ant-slider-handle:focus::after {
  box-shadow: 0 0 0 2px #ef8744 !important;
}