.CommentInput {
  display: flex;
  height: fit-content;
  align-items: center;
  border: 1px solid #ef8744;
  border-radius: 5px;
  overflow: hidden;

  >input {
    background: #f7f7f7;
    border: none;
    outline: none;
    flex: 1;
    overflow: auto;
    padding: 8px;
  }

  .postBtn {
    border: none;
    height: 100%;
    outline: none;
    background: #ef8744;
    padding: 8px 20px;
    font-weight: bold;
    color: #ffffff;
  }


}