.CommentCard{
  display: flex;
  flex-direction: column;
  gap: .3rem;

  .comment-header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    >div{
      display: flex;
      align-items: center;
      gap: 1rem;
    }

  }

  .comment_content{
    margin-left: 50px;
    .flex-fill{
      display: flex;
      flex-direction: column;
      gap:.3rem;
      background: #eee;
      padding: 6px 6px;
      border-radius: 8px;
    }
  }

  .comment-footer{
    display: flex;
    font-size: 13px;
    gap: 2rem;
    >small{
      display: flex;
      gap: 0.3rem;
      align-items: center;
      cursor: pointer;
    }
  }
}


.choose-edit{
  display: flex;
  margin-bottom: 6px;
  gap: 1rem;
  >span{
    padding: 5px 8px;
    border-radius: 6px;
    color: #ffffff;
    cursor: pointer;
  }

  span:nth-child(1){
    background: #2CCD6D;
  }

  span:nth-child(2){
    background: coral;
  }

}

.dropdown{
  display: flex;
  gap: 0.5rem;
}