.footer {
  background: #34465d;

  .top-footer {
    padding: 20px 0;
  }
}

.cooperate {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  border: 3px solid #ffffff;
  cursor: pointer;
  border-radius: 8px;
  padding: 8px;

  >i {
    font-size: 3rem;
    color: #ffffff;
  }

  >span {
    color: #ffffff;
  }

  &:hover {
    border: 3px solid #ef8744;

    >i,
    >span {
      color: #ef8744;
    }
  }
}

.about-us {
  >p {
    cursor: pointer;

    &:hover {
      color: #ef8744 !important;
    }
  }
}

.col-lg-3 {
  .contact {
    width: 100% !important;

    >h2 {
      margin: auto;
    }

    span {
      margin: auto;
      display: inline-block;
      width: 104px !important;
      text-align: center;
      color: #ef8744;
    }

    >div {
      cursor: pointer;
      display: flex;
      gap: 0.5rem;
      width: 100px;
      margin: auto;

      &:hover {

        >i,
        p {
          color: #ef8744;
        }
      }

      >i {
        font-size: 1.5rem;
        color: #ffffff;
      }
    }

  }
}