.footer{
  background: #1c1c1c;
}
.cooperate{
  display: flex;
  gap: 0.5rem;
  align-items: center;
  border: 3px solid #ffffff;
  cursor: pointer;
  border-radius: 8px;
  padding: 8px;
  >i{
    font-size: 3rem;
    color: #ffffff;
  }
  >span{
   color: #ffffff;
  }

  &:hover{
    border: 3px solid #d8ab37;
    >i, >span{
      color: #d8ab37;
    }
  }
}

.about-us{
  >p{
    cursor: pointer;
    &:hover{
      color: #d8ab37 !important;
    }
  }
}

.col-lg-3{
  .contact{
    width: 100% !important;
    >h2{
      margin: auto;
    }
    span{
      margin: auto;
      display: inline-block;
      width: 104px !important;
      text-align: center;
      color: #d8ab37;
    }

    >div{
      cursor: pointer;
      display: flex;
      gap: 0.5rem;
      width: 100px;
      margin: auto;

      &:hover{
        >i, p{
          color: #d8ab37;
        }
      }
      >i{
        font-size: 1.5rem;
        color: #ffffff;
      }
    }

  }
}
